@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.work-sans {
    font-family: "Work Sans", serif;  
}

.eb-garamond {
    font-family: "EB Garamond", serif;
   
  }

  .lato {
    font-family: "Lato", serif;
  }

  .header-1-banner {
    font-family: "EB Garamond", serif;
    font-size: 32px; 
    font-weight: 500; 
    color: #242628; 
    line-height: normal;
    


    @media (min-width: 768px) {
      font-size: 32px;
      
    }
  

    @media (min-width: 1024px) {
      font-size: 3rem; 
      line-height: 62px;
      
    }
  }

  .header-1 {
    font-family: "EB Garamond", serif;
    font-size: 32px; 
    font-weight: 500; 
    color: #242628; 
    line-height: normal;

    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 47px; 
    }

    @media (min-width: 1024px) {
      font-size: 3rem; 
      line-height: 62px;
    }
  }

  .semi-header {
    font-size: 28px;
    font-weight: 500; 
    color: #242628;
    /* margin-bottom: 1.5rem; */
    font-family: 'EB Garamond', serif;
  
    @media (min-width: 640px) { 
      font-size: 32px;
    }
  
    @media (min-width: 1024px) { 
      line-height: 41px;
    }
  }
  

  .header-2{
    font-family: "EB Garamond", serif;
    display: flex;
    align-items: center;
    gap: 4px; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 31px;
   
    @media (min-width: 768px) {
      font-size: 21px;
    }
  
    @media (min-width: 1024px) {
      font-size: 1.5rem; 
    }
  }

  .primary-btn {
    background-color: #B68C5A; 
    border-radius: 0.5rem; 
    font-weight: 500; 
    white-space: nowrap; 
    max-width: 142px; 
    font-size: 0.75rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 6px; 
    color: white;
    border: 1px solid transparent;
    padding: 0.25rem 0.75rem;
    margin-top: 1.75rem; 
    font-family: 'Work Sans', sans-serif; 
  
    
    @media (min-width: 640px) {
      max-width: 160px; 
      height: 44px; 
      font-size: 0.875rem; 
      padding: 0.5rem 1rem; 
    }
  
    
    @media (min-width: 768px) {
      max-width: 190px; 
      height: 50px; 
      font-size: 1rem; 
      gap: 10px; 
      padding: 0.75rem 1.5rem;
    }
  
    
    @media (min-width: 1024px) {
      max-width: 228px; 
      height: 56px; 
      font-size: 1.125rem;
      gap: 10px; 
      padding: 1rem 2rem; 
    }
  }


  .tab-btn {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    padding: 0.5rem 1rem; 
    font-weight: 500;
    white-space: nowrap;
    width: auto;
    height: 56px; 
    font-size: 1rem; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    
  
    
    @media (min-width: 1024px) {
      padding: 0.75rem 2rem; 
      width: 138px;
      font-size: 1.125rem;
    }
  }

  .sidebar-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500; 
    font-size: 1.125rem; 
    
    line-height: 21px;
  }

  .dashboard-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; 
    font-size: 28px;
    color: #242628; 
    line-height: 32px; 
  }

  .case-numbers {
    font-family: 'EB Garamond', serif;
    font-weight: 600; 
    font-size: 28px; 
    line-height: 36px; 
}

.simple-text{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500; 
  font-size: 16px;
}